body {
    background-color: #fff;
    margin: 4em;
    margin-top: 2em;
    font-size: x-large;
}

td {
    padding: 1em;
}

.header {
    margin-bottom: 2em;
}

.navigation {
    background-color: #ff781e;
}

.content {
    margin-bottom: 3em;
}

.footer {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 1em;
}

.big-letter {
    color: #ff781e;
}
