body {
    background-color: #fff;
    margin: 4em;
    margin-top: 2em;
}

p {
    font-size: medium;
}

.pcat-header {
    margin-bottom: 2em;
}

.pcat-footer {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 1em;
}

.pcat-img-title {
    padding-left:20px;
    vertical-align:top;
    font-size: large;
}

.ui.segments {
    margin-top:2em;
}

.item {
    font-size: medium;
}
